<h2>New Celebrity</h2>
<form action="/celebrities/create" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="occupation" name="occupation">
    <input type="text" placeholder="catch phrase" name="catchPhrase">
    <button type="submit">Submit</button>
</form>